*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    max-width: 1240x;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 16px 120px 16px 120px;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .manu a{
    font-size: 20px;
    color: #00000000;
    font-size: 16px;
    font-family:initial;
}
nav .nav-4{

    background-color: #30B868;
    width: 164px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    border-radius: 5px;
    border: none;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: auto;
}
#banner{
    width: 100%;
    height: 665px;
    max-width: 1240x;
    background-image: url(assets/hero-bg.png) ;
    padding: 70px 100px 134px 100px;
}
#banner .banner-1{
    width: 229px;
    height: 36px;
    padding: 12px 16px 12px 16px;
    border: none;
    align-items: center;
    margin: auto;
    
}
#banner .banner-1 .button-1{
    
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: rgba(251, 251, 251, 1);
    border-radius: 50px;
    font-size: 200;
    color: #30B868;  
}
#banner .banner-2{
    height: 379px;
    width: 1240px;
    margin: auto;
    color: #ffffff;
}
#banner .banner-2 h1{
    padding: 16px 295px 16px 295px;
    justify-content: center;
    font-family: Inter;
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
}
#banner .banner-2 h1 .color-1{
    color: #30B868;
}
#banner .banner-2 p{
    width: 1240px;
    height: 100%;
    margin: auto;
    padding: 16px 220px 16px 200px;
}
#banner .banner-2 p{
    text-align: center;
}
#banner .banner-2{
    width: 1300px;
    height: 100%;
    margin: auto;
    align-items: center;
}
#banner .banner-3{
    width:350px ;
    height:50;
    display: flex;
    margin: auto;
    justify-content: space-between;
    gap: 20px;
    
}
#banner .banner-3 .button-2{
    width: 180px;
    height: 20;
    padding: 16px 16px 16px 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: x-small;
    background-color: #30B868;
    color: #ffffff;
    border: none;
}
#banner .banner-3 .button-3{
    width: 180px;
    height: 20;
    padding: 16px 16px 16px 16px;
    color: #ffffff;
    border: 2px solid #ffffff;
}
#notes{
    height: 390px;
    width: 1240px;
    margin: auto;
    background-color: #fff0f0;
    row-gap: 10px;
   
}
#notes .part-1{
    width: 1240px;
    height: 116px;
    padding: 20px 295px 0px 295px;
    margin: auto;
    justify-content: center;
    
}
#notes .part-2{
    
    display: flex;
    gap: 24px;
    background-color: #ffffff;
    
}
.same{
    height: 300px;
    width: 322px;
    padding: 30px;
    
}
.same img{
    background-color: #30B868;
    max-width: 54px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    
}
.same .h3{
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
}
.same .p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}



