*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    max-width: 1172px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 16px 120px 16px 120px;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .manu a{
    font-size: 20px;
    color: #00000000;
    font-size: 16px;
    font-family:initial;
}
nav .nav-4{

    background-color: #30B868;
    width: 164px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    border-radius: 5px;
    border: none;
}